body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
}

section {
    background: white;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
}

h2 {
    color: #0077cc;
}

.imagem {
    text-align: center;
    margin-top: 10px;
}

.imagem img {
    width: 300px;
    border-radius: 8px;
}

button {
    background-color: #0077cc;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005fa3;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}